
header{
  background: url(fondoa.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header:After{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url(wave-bottom.svg);
  height: 275px;
}
